<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Super secret vault of information</h1>

    <h2>Hi <%= name %></h2>
    <h3>Your secret:</h3>
    <p><%= secret %></p>
  </body>
</html>
